services:
  # ---------------- API GATEWAY ----------------
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "${GATEWAY_PORT}:80"
    depends_on:
      - artist-api
      - user-api
      - playlist-api

  # ---------------- API DE ARTISTAS ----------------
  artist-api:
    build: ./ArtistAPI
    container_name: artist-api
    ports:
      - "${ARTIST_API_PORT}:8080"
    env_file:
      - ./ArtistAPI/.env
    depends_on:
      - artist-db
      - artist-mongo
      - kafka-broker

  artist-db:
    image: mysql:8.0
    container_name: artist-db
    env_file:
      - ./ArtistAPI/.env
    volumes:
      - artist-db-data:/var/lib/mysql
    ports:
      - "${MYSQL_PORT}:3306"

  artist-mongo:
    image: mongo:latest
    container_name: artist-mongo
    restart: always
    ports:
      - "${ARTIST_MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${ARTIST_MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${ARTIST_MONGO_PASSWORD}
    volumes:
      - artist-mongo-data:/data/db
      - ./ArtistAPI/src/main/resources:/docker-entrypoint-initdb.d

  # ---------------- API DE USUARIOS ----------------
  user-api:
    build: ./UserAPI
    container_name: user-api
    ports:
      - "${USERS_API_PORT}:8000"
    env_file:
      - ./UserAPI/.env
    depends_on:
      - user-db
      - kafka-broker

  user-db:
    image: postgres:17
    container_name: user-db
    env_file:
      - ./UserAPI/.env
    volumes:
      - user-db-data:/var/lib/postgresql/data
      - ./UserAPI/pginit:/docker-entrypoint-initdb.d
      - ./UserAPI/app:/app
    ports:
      - "${POSTGRES_PORT}:5432"

  # ---------------- API DE PLAYLISTS ----------------
  playlist-api:
    build:
      context: ./PlaylistAPI
      dockerfile: Dockerfile
    container_name: playlist-api
    restart: always
    ports:
      - "${PLAYLIST_API_PORT}:8080"
    depends_on:
      - mongo
      - kafka-broker
      - artist-api
    env_file:
      - ./.env
    volumes:
      - ./PlaylistAPI/app:/app

  mongo:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db
      - ./PlaylistAPI/mongo-init:/docker-entrypoint-initdb.d

  # ---------------- KAFKA BROKERS ----------------
  kafka-broker:
    image: apache/kafka:latest
    container_name: broker1
    restart: on-failure
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-broker:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "kafka-broker-api-versions.sh --bootstrap-server localhost:9092 || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # ---------------- Sidecar Valet-Key ----------------
  valet-key-sidecar:
    build: ./sidecar-valet-key
    ports:
      - "8089:8089"

    # ---------------- PROMETHEUS ----------------
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - './prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml'
    restart: always
    depends_on:
      - artist-api


# ---------------- VOLUMES ----------------
volumes:
  artist-db-data:
  artist-mongo-data:
  user-db-data:
  mongo_data:
  kafka_data:
